In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into DataFrame

In [2]:
csv_file = "Resources/raw_state_automation_data_1.csv"
raw_state_automation_data_df = pd.read_csv(csv_file)
raw_state_automation_data_df.head()

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South_Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West_Virginia,Wisconsin,Wyoming
0,11-1011,Chief Executives,0.015,1030,760,5750,2710,31150,880,1410,...,560,5460,5890,3650,280,6320,5910,980,3740,160
1,11-1021,General and Operations Managers,0.160,26930,6490,43300,20680,261780,41540,33280,...,3730,44400,168610,36200,2760,52380,43760,10200,32350,4840
2,11-3061,Purchasing Managers,0.030,950,130,1780,510,8460,760,1360,...,50,2000,5030,450,150,2480,2010,80,1290,40
3,17-3013,Mechanical Drafters,0.680,590,0,750,240,3900,880,1900,...,170,1240,4900,650,90,2020,2250,150,2730,80
4,17-3021,Aerospace Engineering and Operations Technicians,0.480,190,0,570,60,2490,310,150,...,0,0,1200,130,0,160,0,0,0,0

# Create new data with select columns

In [3]:
state_automation_data_df = raw_state_automation_data_df[['SOC', 'Occupation', 'Probability']].copy()
state_automation_data_df.head()

       SOC                                        Occupation  Probability
0  11-1011                                  Chief Executives        0.015
1  11-1021                   General and Operations Managers        0.160
2  11-3061                               Purchasing Managers        0.030
3  17-3013                               Mechanical Drafters        0.680
4  17-3021  Aerospace Engineering and Operations Technicians        0.480

In [4]:
csv_file = "Resources/occupational_employment_statistics_1.csv"
occupational_employment_statistics_data_df = pd.read_csv(csv_file)
occupational_employment_statistics_data_df.head()

,Area_Type,Area,Area_Name,SOC,Occupational_Title,Employment,Mean_Wage,Median_Wage,Entry_Wage,Experienced_Wage
0,10,1,Capital Region,11-2031,Public Relations and Fundraising Managers,400.0,103400,89550.0,55480.0,127360.0
1,10,6,Mohawk Valley Region,15-1111,Computer and Information Research Scientists,120.0,103680,102530.0,79840.0,115610.0
2,10,10,Western New York Region,39-4031,"Morticians, Undertakers, and Funeral Directors",NaN,62910,64990.0,45420.0,71660.0
3,10,8,North Country Region,39-9099,"Personal Care and Service Workers, All Other",NaN,30210,30430.0,24730.0,32950.0
4,10,10,Western New York Region,33-3041,Parking Enforcement Workers,NaN,35380,35320.0,29380.0,38390.0

In [5]:
employment_wage_df = occupational_employment_statistics_data_df[['SOC', 'Occupational_Title', 'Mean_Wage', 'Median_Wage', 'Entry_Wage', 'Experienced_Wage']].copy()                                                                                                                  
employment_wage_df.head()

,SOC,Occupational_Title,Mean_Wage,Median_Wage,Entry_Wage,Experienced_Wage
0,11-2031,Public Relations and Fundraising Managers,103400,89550.0,55480.0,127360.0
1,15-1111,Computer and Information Research Scientists,103680,102530.0,79840.0,115610.0
2,39-4031,"Morticians, Undertakers, and Funeral Directors",62910,64990.0,45420.0,71660.0
3,39-9099,"Personal Care and Service Workers, All Other",30210,30430.0,24730.0,32950.0
4,33-3041,Parking Enforcement Workers,35380,35320.0,29380.0,38390.0

In [6]:
rds_connection_string = "postgres:Darren2019@localhost:5432/occupation_automation_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
engine.table_names()

['automation_probability', 'occupational_employment_statistics']

# Load DataFrames into Database

In [12]:
state_automation_data_df.to_sql(name='automation_probability', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "automation_probability" does not exist
LINE 1: INSERT INTO automation_probability (index, "SOC", "Occupatio...
                                            ^

[SQL: INSERT INTO automation_probability (index, "SOC", "Occupation", "Probability") VALUES (%(index)s, %(SOC)s, %(Occupation)s, %(Probability)s)]
[parameters: ({'index': 0, 'SOC': '11-1011', 'Occupation': 'Chief Executives', 'Probability': 0.015}, {'index': 1, 'SOC': '11-1021', 'Occupation': 'General and Operations Managers', 'Probability': 0.16}, {'index': 2, 'SOC': '11-3061', 'Occupation': 'Purchasing Managers', 'Probability': 0.03}, {'index': 3, 'SOC': '17-3013', 'Occupation': 'Mechanical Drafters', 'Probability': 0.68}, {'index': 4, 'SOC': '17-3021', 'Occupation': 'Aerospace Engineering and Operations Technicians', 'Probability': 0.48}, {'index': 5, 'SOC': '17-3022', 'Occupation': 'Civil Engineering Technicians', 'Probability': 0.75}, {'index': 6, 'SOC': '17-3023', 'Occupation': 'Electrical and Electronics Engineering Technicians', 'Probability': 0.84}, {'index': 7, 'SOC': '17-3024', 'Occupation': 'Electro-Mechanical Technicians', 'Probability': 0.81}  ... displaying 10 of 702 total bound parameter sets ...  {'index': 700, 'SOC': '17-3011', 'Occupation': 'Architectural and Civil Drafters', 'Probability': 0.52}, {'index': 701, 'SOC': '17-3012', 'Occupation': 'Electrical and Electronics Drafters', 'Probability': 0.81})]
(Background on this error at: http://sqlalche.me/e/f405)

In [13]:
employment_wage_df.to_sql(name='occupational_employment_statistics', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "occupational_employment_statistics" does not exist
LINE 1: INSERT INTO occupational_employment_statistics (index, "SOC"...
                                                        ^

[SQL: INSERT INTO occupational_employment_statistics (index, "SOC", "Occupational_Title", "Mean_Wage", "Median_Wage", "Entry_Wage", "Experienced_Wage") VALUES (%(index)s, %(SOC)s, %(Occupational_Title)s, %(Mean_Wage)s, %(Median_Wage)s, %(Entry_Wage)s, %(Experienced_Wage)s)]
[parameters: ({'index': 0, 'SOC': '11-2031', 'Occupational_Title': 'Public Relations and Fundraising Managers', 'Mean_Wage': 103400, 'Median_Wage': 89550.0, 'Entry_Wage': 55480.0, 'Experienced_Wage': 127360.0}, {'index': 1, 'SOC': '15-1111', 'Occupational_Title': 'Computer and Information Research Scientists', 'Mean_Wage': 103680, 'Median_Wage': 102530.0, 'Entry_Wage': 79840.0, 'Experienced_Wage': 115610.0}, {'index': 2, 'SOC': '39-4031', 'Occupational_Title': ' Morticians, Undertakers, and Funeral Directors', 'Mean_Wage': 62910, 'Median_Wage': 64990.0, 'Entry_Wage': 45420.0, 'Experienced_Wage': 71660.0}, {'index': 3, 'SOC': '39-9099', 'Occupational_Title': ' Personal Care and Service Workers, All Other', 'Mean_Wage': 30210, 'Median_Wage': 30430.0, 'Entry_Wage': 24730.0, 'Experienced_Wage': 32950.0}, {'index': 4, 'SOC': '33-3041', 'Occupational_Title': 'Parking Enforcement Workers', 'Mean_Wage': 35380, 'Median_Wage': 35320.0, 'Entry_Wage': 29380.0, 'Experienced_Wage': 38390.0}, {'index': 5, 'SOC': '25-2054', 'Occupational_Title': ' Special Education Teachers, Secondary School', 'Mean_Wage': 97580, 'Median_Wage': 101600.0, 'Entry_Wage': 62940.0, 'Experienced_Wage': 114900.0}, {'index': 6, 'SOC': '21-2011', 'Occupational_Title': 'Clergy', 'Mean_Wage': 42070, 'Median_Wage': 36700.0, 'Entry_Wage': 28240.0, 'Experienced_Wage': 48990.0}, {'index': 7, 'SOC': '45-0000', 'Occupational_Title': 'Farming, Fishing, and Forestry Occupations', 'Mean_Wage': 38410, 'Median_Wage': 36070.0, 'Entry_Wage': 24990.0, 'Experienced_Wage': 45120.0}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 4998, 'SOC': '53-7081', 'Occupational_Title': 'Refuse and Recyclable Material Collectors', 'Mean_Wage': 34260, 'Median_Wage': 32460.0, 'Entry_Wage': 24130.0, 'Experienced_Wage': 39320.0}, {'index': 4999, 'SOC': '11-9021', 'Occupational_Title': 'Construction Managers', 'Mean_Wage': 89480, 'Median_Wage': 85100.0, 'Entry_Wage': 61030.0, 'Experienced_Wage': 103710.0})]
(Background on this error at: http://sqlalche.me/e/f405)

# Confirm data has been added by querying the table

In [14]:
pd.read_sql_query('select * from automation_probability', con=engine).head()

Empty DataFrame
Columns: [soc, occupation, probability]
Index: []

In [11]:
pd.read_sql_query('select * from occupational_employment_statistics', con=engine).head()

Empty DataFrame
Columns: [soc, occupational_title, mean_wage, median_wage, entry_wage, experienced_wage]
Index: []